<div class="categorie-summary-cards">
    <div class="categorie-card" *ngFor="let row of summaryRows">
        <div class="categorie-title">
            <img src="/assets/icons/tag.svg" alt="Categoria Icon" class="categorie-icon" width="24" height="24">
            {{ row.category }}
        </div>
        <div class="categorie-values">
            <div class="categorie-received">
                <span class="value received">R$ {{ row.received | number:'1.2-2' }}</span>
            </div>
            <div class="categorie-spent">
                <span class="value spent">R$ {{ row.spent | number:'1.2-2' }}</span>
            </div>
        </div>
    </div>
</div>
