<div class="transactions-details">
    <h2>Transações de {{ year }}/{{ month }}</h2>
    <div *ngIf="transactions?.length; else noData">
        <table>
            <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Categoria</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let t of transactions">
                <td>{{ t.transactionTime }}</td>
                <td>{{ t.description }}</td>
                <td>{{ t.value | currency:'BRL' }}</td>
                <td>{{ t.category }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noData>
        <p>Nenhuma transação encontrada para este período.</p>
    </ng-template>
</div>


